@model ReviewSiteMVC.Models.Review

@{
    ViewBag.Title = "Details";
}
<div class="row reveiwdetailheader">
    @Html.DisplayFor(model => model.CityCategory.CityName)
    </div>
<div class="row reveiwdetailheader">
    <i> @Html.DisplayFor(model => model.ReviewTitle)</i>
</div>
<div class="row reveiwdetaildetails">
    <div class="col-6 reveiwdetailimg">
        <img src="~/Images/newyorkimg.jpg"/>
    </div>
    <div class="col-6 reveiwdetaildetailstext">
        

        <p> <b>Description:</b>  @Html.DisplayFor(model => model.ReviewDescription)</p>
        <p><b>Rating:</b> @Html.DisplayFor(model => model.Rating)  </p>
        <p><b>Review By:</b>  @Html.DisplayFor(model => model.ReviewerName) </p>
    </div>
</div>


<p id="reveiwdetaillinks">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
